.background-morph{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 3em;
    top: 4.5em;
    border-radius: 100%;
    background: rgb(246, 167, 19);
    filter: blur(80px);
    z-index: -1;
}

.background-morph2{
    position: absolute;
    width: 250px;
    height: 250px;
    left: -5em;
    top: 4.5em;
    border-radius: 100%;
    background: rgb(246, 167, 19);
    filter: blur(70px);
    z-index: -1;
}

.hero{
    position: relative;
}
.background-morph3{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 15em;
    top: -4.5em;
    border-radius: 100%;
    background: rgb(33, 33, 33);
    filter: blur(70px);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .background-morph{
        display: none;
    }
}